.flex-wrapper {
  display: flex;
  flex-direction: row-reverse;
  color: #202020;
  height: auto;
  width: 800px;

}

h1 {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

ul > li {
  line-height: 2em;
}

.gray {
  background-color: #ebecf0;
  background: linear-gradient(to right, #ebecf0 80%, #ffffff);
  
}

.main-content {
flex-grow: 0;
flex-shrink: 0;
flex-basis:500px;
 
}

.sidebar {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 300px;
}

.sidebar-contacts {
  line-height: 2rem;
}

.sidebar-contacts2 {
  line-height: 1.2rem;
  font-size: 15px;
}

.sidebar-p {
  margin-left: 30px;
  line-height: 1.5rem;
}
.sidebar-line {
  border-bottom: 1px solid #505050;
  margin-left: 30px;
  margin-right: 15px;
  padding-bottom: 4px;
  line-height: 2rem;
}

.sidebar-line2 {
    border-bottom: 1px solid #505050;
    margin-left: 30px;
    margin-right: 15px;
    padding-bottom: 10px;
    line-height: 2rem;
  }
  
 


.sidebar-image {
  height: 35px;
  float: right;
  margin-right: 12px;
  padding-top: 7px;
 
}
.avatar {
  display: block;
  width: 200px;
  border-radius: 50%;
  margin-left: 25px;
  margin-right: auto;
  margin-top: 20px;
}


body {

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, 
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1 {
  font-size: 1.5rem;
  margin-left: 30px;
}

h2 {
  font-size: 1rem;
  margin-left: 30px;
}


.sidebar2-image {
  height: 18px;
  float: right;
  margin-right: 12px;
  padding-top: 10px;
}

.section__code {
  padding-top: 16px;
  padding-right: 5px;
  padding-bottom: 16px;
  padding-left: 5px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  font-family: monospace;
  font-size: 16px;
  line-height: 30px;
  background-color: #f5f5f5;
}



.footer-image {
  width: 70px;
  
}

footer > div {
  font-size: large;
  font-weight: 700;
  text-align: right;
}