.flex-wrapper {
  display: flex;
  flex-direction: row-reverse;
  color: #202020;
  height: auto;
  width: 800px;
  
  
  
}

.gray {
  background-color: #d0d0d0;
  
}

ul > li {
  line-height: 2rem;
}

.main-content {
flex-grow: 0;
flex-shrink: 0;
flex-basis:500px;
 
}

.sidebar {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 300px;
}

.avatar {
  display: block;
  width: 200px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}


body {

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, 
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1 {
  font-size: 1.5rem;
  margin-left: 30px;
}

h2 {
  font-size: 1rem;
  margin-left: 30px;
}

.sidebar-p {
  margin-left: 30px;
  line-height: 1.5rem;
}
.sidebar-line {
  border-bottom: 1px solid #505050;
  margin-left: 30px;
  margin-right: 15px;
  padding-bottom: 4px;
  
 
}

.sidebar-image {
  height: 35px;
  float: right;
  margin-right: 12px;
  padding-top: 7px;
 
}

.sidebar2-image {
  height: 18px;
  float: right;
  margin-right: 12px;
  padding-top: 10px;
}



.footer-image {
  width: 70px;
  
}

footer > div {
  font-size: large;
  font-weight: 700;
  text-align: right;
}