html {
  height: 100px;
  background-image: url("/rsschool-cv/images/binary-2.jpg");
  background-color: rgba(255,255,255,0.85);
  background-blend-mode: lighten;
  }

/* Flex properties */

.flex-wrapper {
  display: flex;
  flex-direction: row-reverse;
  color: #202020;
  flex-wrap:wrap-reverse;  
  justify-content: center;
  margin-top: 0px;
  }

  h1 {
  font-size: 1.8rem;
  margin-bottom: 24px;
  margin-top: 0;
  font-family:Arial, Helvetica, sans-serif;
}

h1 span {
  font-size: 1.4rem;
}

h2 {
  font-size: 1rem;
  margin-left: 30px;
}

h2:hover {
  transform: scale(1.1, 1.1);
}

body {
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, 
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

ul li {
  line-height: 2em;
}

.main-content {
  flex: 0 1 460px
 
}

  #my-code {
    font-style: oblique;
    font-weight: 100;
    color: #404040;
  }

#li-margin-bottom {
  margin-bottom: 1.5rem;
}

.nav-style a {
  
  text-decoration: none;
  position:relative;
  left: 28%;
  scroll-behavior: smooth;
 }
 
.nav-style a:hover {
 color: rgb(18, 105, 219);
 background-color:white;
 align-self:stretch ;
}

.sidebar {
  flex: 0 0 285px;
}

.sidebar-background {
background-color: #ebecf0;
background: linear-gradient(to bottom, #ebecf0, #ffffff);
}

.main-background {
  background-color: #ffffff;
  
  }

.sidebar-contacts {
  line-height: 2rem;
}

.sidebar-p {
  margin-left: 30px;
  line-height: 1.5rem;
}
.sidebar-line {
  border-bottom: 1px solid #505050;
  margin-left: 30px;
  margin-right: 15px;
  padding-bottom: 4px;
  line-height: 2rem;
}


.sidebar-image {
  height: 35px;
  float: right;
  margin-right: 12px;
  padding-top: 7px;
}

.sidebar2-image {
  height: 18px;
  float: right;
  margin-right: 12px;
  padding-top: 10px;
}

.main-content-line {
    border-bottom: 1px solid #505050;
    margin-left: 30px;
    margin-right: 15px;
    padding-bottom: 10px;
    line-height: 2rem;
  }
 
.avatar {
  display: block;
  width: 250px;
  border-radius: 50%;
  margin: auto;
  padding-top: 15px;
}

.section__code {
  padding-top: 16px;
  padding-right: 5px;
  padding-bottom: 16px;
  padding-left: 5px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  font-family: monospace;
  font-size: 16px;
  line-height: 30px;
  background-color: #f5f5f5;
}

footer > div {
  font-size: large;
  font-weight: 700;
  text-align: right;
  
}



.footer-image {
  width: 70px;
  
 }
 .footer-image:hover {
   transform: scale(1.2, 1.2);
 }


 #footer-line {
   border-right: 3px solid;
   padding-right: 15px;
   color: black;
 }

 .experimental {
   background-image: url(/rsschool-cv/images/binary.svg);
 }